<form id="add" action="/events/add" method="POST">
    <h1>Add new event</h1>

    {{!-- <input type="text" name="title" id="title"> --}}
<div class='addForm'>
    <div class="container-input-text">
        <label for="title"></label>
        <input type="text" name="title" id="title" placeholder="Title" />
        <span class="error-message">Error Text</span>
    </div>

    <div class="container-input-text">
        <label for="date"></label>
        <input type="date" name="date" id="date">
        <span class="error-message">Error Text</span>
    </div>

    <div class="container-input-text">
        <label for="genre"></label>
        <input type="text" name="genre" id="genre" placeholder="Genre" />
        <span class="error-message">Error Text</span>
    </div>

    <div class="container-input-text">
        <label for="street"></label>
        <input type="text" name="street" id="street" placeholder="Street" />
        <span class="error-message">Error Text</span>
    </div>

    <div class="container-input-text">
        <label for="city"></label>
        <input type="text" name="city" id="city" placeholder="City" />
        <span class="error-message">Error Text</span>
    </div>

    <div class="container-input-text">

        <label for="zipcode"></label>
        <input type="text" name="zipcode" id="zipcode" placeholder="Zipcode" />
        <span class="error-message">Error Text</span>
    </div>


    <div class="container-input-text">
        <label for="street"></label>
        <input type="text" name="street" id="street" placeholder="Street" />
        <span class="error-message">Error Text</span>
    </div>


    <div class="container-input-text">
        <label for="about"></label>
        <textarea placeholder="About"></textarea>
        <span class="error-message">Error Text</span>
    </div>


 <div class="container-input-text">
        <label for="minAge"></label>
        <input type="number" name="minAge" id="minAge" min="1" max="18" placeholder="Age" />
        <span class="error-message">Error Text</span>
    </div>



<div class="radio-container">
    <input type="radio" name="radio" id="radio1" />
    <label for="radio1" class="radio-label"></label>
    <label for="radio1" class="text-label">Indoors</label>
</div>

<div class="radio-container">
    <input type="radio" name="radio" id="radio2" />
    <label for="radio2" class="radio-label"></label>
    <label for="radio2" class="text-label">Outdoors</label>
</div>


<div class="radio-container">
    <input type="radio" name="radio" id="radio3" />
    <label for="radio3" class="radio-label"></label>
    <label for="radio3" class="text-label">both</label>
</div>

 <div class="container-input-text">
        <label for="cost"></label>
        <input type="number" name="cost" id="cost" placeholder="Cost" />
        <span class="error-message">Error Text</span>
    </div>

 <div class="container-input-text">
        <label for="artists"></label>
        <input type="text" name="artists" id="artists" placeholder="Artits" />
        <span class="error-message">Error Text</span>
    </div>



    <button type="submit">Add Event</button>
    {{#if message}}
    <p style="color: red">{{message}}</p>
    {{/if}}

</div>
</form>