<h1>Events</h1>

<form id="add" action="/events/find" method="POST">
    <h1>Filter Dates:</h1>
    <label for="date">From: </label>
	// name = router.post / req.body in events.js
    <input type="date" name="dateFrom" id="dateFrom">

     <label for="date">To: </label>
    <input type="date" name="dateTo" id="dateTo">
    <button type="submit">Filter Dates</button>


{{#each  eventList}}

{{date}}
	<a href="/event/{{_id}}">
		<h4>{{title}}</h4>
	</a>
{{/each}}
<a href="/books/add">Add an event to the Database â•</a>