<h1>Events</h1>
<form class="example" action="/event/search" method="POST">
  <input type="text" placeholder="Search an event" name="search">
  <button type="submit"><i class="fa fa-search">Search</i></button>
</form>
{{#each  eventList}}

{{date}}
	<a href="/event/{{_id}}">
		<h4>{{title}}</h4>
	</a>
{{/each}}
{{!-- <a href="/books/add">Add an event to the Database ➕</a> --}}