{{!-- <h1>{{title}}</h1> --}}
<h1>club kid</h1>
{{!-- {{#if user}}
<nav>
<a href="/logout">Log Out </a>
<br />
<a href="/events/add"> Add new events</a>
<br />
<a href="/events">View events </a>
<br />
<a href="/myevents">My events </a>
<br />
    

{{else}}
<nav>
    <a href="/signup"> Sign up </a>
    <br />
    <a href="/login">Log in </a>
    <br/>
    <a href="/events">View events </a>
    <br />
  
</nav>
{{/if}} --}}