<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      {{!-- THIS IS FOR MAPBOX  --}}
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
      <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
         <!-- mapbox-gl-geocoder -->
   <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
   <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
   <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
      </head>

   <body>
      {{#if user}}
<nav>
<a href="/">Home </a>
<br />
<a href="/events">Events</a>
<br />
<a href="/myevents">My events </a>
<br />
<a href="/events/add">Add new events</a>
<br />
<a href="/logout">Log Out </a>
    

{{else}}
<nav>
   <a href="/">Home</a>
   <br />
   <a href="/events">Events</a>
    <br />
    <a href="/login">Log in </a>
    <br/>
    <a href="/signup"> Sign up </a>
    <br />
    
    
   
  
</nav>
{{/if}}
      {{{body}}}
     
      <script src="/js/script.js"></script>
      <script src="../public/js/mapbox.js"></script>
   </body>

</html>