<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://unpkg.com/fajny-css/css/fajny-icons.min.css" type="text/css" />
      <title>{{title}}</title>
      {{!-- this is for the font --}}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Roboto&display=swap" rel="stylesheet">
      {{!-- THIS IS FOR MAPBOX  --}}
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
      <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
         <!-- mapbox-gl-geocoder -->
   <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
   <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
   <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
   {{!-- css link --}}
   <link rel="stylesheet" href="https://unpkg.com/fajny-css/css/fajny.min.css" type="text/css" />
   <link rel="stylesheet" href="https://unpkg.com/fajny-css/css/fajny-icons.min.css" type="text/css" />

   <link rel="stylesheet" href="/stylesheets/style.css" />
      </head>

   <body>
   {{!-- This is the navbar --}}

   {{!-- This is if the user is logged in --}}
   {{#if user}}

<header>
    <a href="/" class="logo">
        clubKid
    </a>
    <nav id="navigation">

            <a href="/">home</a>
            <a href="/events">events</a>
            <a href="/myevents">my events</a>
            <a href="/events/add">add new event</a>
            <a href="/logout">log out</a>
    </nav>

</header>

      {{!-- This is if the user is not logged in--}}
      {{else}}
<header>
    <a href="/" class="logo">
        clubKid
    </a>

    <nav id="navigation">
            <a href="/">home</a>
             <a href="/events">events</a>  
             <a href="/login">login</a>
             <a href="/signup">sign up</a>
    </nav>

            {{!-- <div class = "loggedOutUserNav"> --}}
             
             {{!-- </div> --}}

</header>
{{!-- end navbar --}}






      {{/if}}
      {{{body}}}

      <script src="/js/script.js"></script>
      <script src="../public/js/mapbox.js"></script>
      {{!-- css --}}
      <script src="https://unpkg.com/fajny-css/js/script.min.js"></script>
</body>

</html>