/* Orange: #FFAA00
Backround-color: #363535
color: #CCCCCC
Lighter grey : #D8D8D8 */


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}



h1 {
  color: 15px;
}

#add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  /* padding: 20px 10px 20px 10px; */
  margin: 0 0 20px 0;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #363535;
}

.navBarCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


#navigation a {
  color: white !important;
  text-decoration: none;
  margin-left: 2rem;
}

#navigation a:visited {
  color: white !important;
  text-decoration: none;
}

#navigation a:hover {
  color: #FFAA00 !important;;
  text-decoration: none;
  transition: 0.7s;
}

#navigation a:active {
  color: #FFAA00 !important;;
  text-decoration: none;
}

#navigation a:not(:last-child) {
  margin-right: 20px;
}



#logout {
  color: white;
  font-family: var(--font-title);
    font-size: 16px;
    line-height: 22.4px;

}


.loggedOutUserNav  {
  display: flex;
  width: 152px;
  justify-content: space-around;
  color: white;
  font-family: var(--font-title);
  font-size: 16px;
  line-height: 22.4px;

}

.loggedOutUserNav a {
  text-decoration: none;
  color: white;
}
/* #logout {
  padding-left: 2rem;
} */

