body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  /* padding: 20px 10px 20px 10px; */
  margin: 0 0 20px 0;
}